{% extends 'base.html' %}
{% block content %}
<h1 class="h">{{ date }}</h1>
<h2>{{ news1 }}</h2>
<h2>{{ news2 }}</h2>
<h2>{{ news3 }}</h2>
<h2>{{ news4 }}</h2>
<h2>{{ news5 }}</h2>
<h2>{{ news6 }}</h2>
<h2>{{ news7 }}</h2>
<h2>{{ news8 }}</h2>
<h2>{{ news9 }}</h2>
<h2>{{ news10 }}</h2>
<h2>{{ news11 }}</h2>
<h2>{{ news12 }}</h2>
<h2>{{ news13 }}</h2>
<h2>{{ news14 }}</h2>
<h2>{{ news15 }}</h2>
<h2>{{ news16 }}</h2>
<h2>{{ news17 }}</h2>
<h2>{{ news18 }}</h2>
<h2>{{ news19 }}</h2>
<h2>{{ news20 }}</h2>
<h2>{{ news21 }}</h2>
<h2>{{ news22 }}</h2>
<h2>{{ news23 }}</h2>
<h2>{{ news24 }}</h2>
<h2>{{ news25 }}</h2>
{% endblock content %}